

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.container{
    margin: 40px;
    width: 100vw;
    height: 100vh;
    border-color: red 1px solid;
}
.logo{
    width: 150px ;
    height: 100px;
    border-style: dotted;
    border-color: gray;
    display: flex;
}

.logo:hover{
    border-color: black;
    cursor: pointer;
}

.logo span{
    margin-top: 10px;
    color: #74746c;
    width: 100%;
    text-wrap: pretty;
    text-align: center;
    line-height: 40px ;
}

.logo span:hover{
    color: black;
    
}

.logo input{
    display: none;
}