
*, *::before, *::after {
    box-sizing: border-box;
  }

.container{
    margin: 40px;
    width: 100vw;
    height: 100vh;
}
.logo{
    width: 150px ;
    height: 100px;
    border-style: dotted;
    border-color: gray;
    display: flex;
    align-items: center;
}

.logo:hover{
    border-color: black;
    cursor: pointer;
}

.logo span{
    margin-top: 10px;
    color: #74746c;
    width: 100%;
    text-wrap: pretty;
    text-align: center;
    line-height: 40px ;
}

.logo span:hover{
    color: black;
    
}

.logo input, .logo-del-negocio{
    display: none;
}

.logo .logo-del-negocio{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}